* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1b1c1f;
}

button {
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
}

i,
path,
svg {
    pointer-events: none;
}

.colors {
    min-height: 80vh;
    display: flex;
    color: rgb(212, 212, 212);
}

.color {
    height: 80vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.color h2 {
    font-size: 2rem;
    cursor: pointer;
}

.sliders {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    background: rgb(251, 255, 252);
    padding: 1rem;
    width: 80%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    /* aadjustments */
    opacity: 0;
    pointer-events: none;
    transform: translateY(102px);
    transition: all 0.5s ease-in-out;
}

.sliders.active {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}

.sliders button,
.close-library {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    background: transparent;
    color: rgb(250, 73, 73);
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
}

.controls {
    display: flex;
    flex-direction: column;
}



.panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
}

.panel button {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background: rgb(31, 33, 63);
    color: white;
    cursor: pointer;
    border-radius: 1rem;
}

.panel p {
    font-size: 1.2rem;
}

.library-panel,
.generate-panel,
.save-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adjust,
.lock {
    font-size: 2rem;
    border: nonne;
    background: none;
    cursor: pointer;
    margin: 2rem 0rem;
}

input[type='range'] {
    position: relative;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    border-radius: 1rem;
    cursor: pointer;
}

.copy-container {
    display: flex;
    position: fixed;
    background: rgba(0, 0, 0, 0.318);
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    justify-content: center;
    /* actions */
    opacity: 0;
    pointer-events: none;
}

.copy-popup {
    display: flex;
    background: white;
    padding: 0.5rem 2rem;
    height: 3rem;
    margin-top: 5rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.5s ease-in-out;
    transform: translateY(-2rem);
}

.copy-container.active,
.save-container.active,
.library-container.active {
    opacity: 1;
    pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
    transform: translateY(0rem);
}

.save-container,
.library-container {
    display: flex;
    position: fixed;
    background: rgba(0, 0, 0, 0.318);
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* actions */
    opacity: 1;
    pointer-events: none;
}

.save-popup,
.library-popup {
    display: flex;
    background: white;
    padding: 0.5rem 2rem;
    min-width: 30%;
    min-height: 30vh;
    flex-direction: column;
    margin-top: 5rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.5s ease-in-out;
    transform: translateY(-2rem);
}

.close-library {
    cursor: pointer !important;
    padding: 1rem 1rem;
}